packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
        [/var/log/systech-collector/logger-debug.log]
        log_group_name=/aws/elasticbeanstalk/systech-collector-dev/var/log/systech-collector/logger-debug.log
        log_stream_name={instance_id}
        file=/var/log/systech-collector/logger-debug.log*
        [/var/log/systech-collector/logger-error.log]
        log_group_name=/aws/elasticbeanstalk/systech-collector-dev/var/log/systech-collector/logger-error.log
        log_stream_name={instance_id}
        file=/var/log/systech-collector/logger-error.log*
        [/var/log/systech-collector/logger-spring.log]
        log_group_name=/aws/elasticbeanstalk/systech-collector-dev/var/log/systech-collector/logger-spring.log
        log_stream_name={instance_id}
        file=/var/log/systech-collector/logger-spring.log*